<brdo-header></brdo-header>
<div class="container">
	<ul class="nav nav-tabs nav-add nav-pills" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link  nav-add active" data-toggle="tab" href="#home" role="tab">Конструктор питань</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link  nav-add" data-toggle="tab" href="#profile" role="tab">Панель адмістрування користувачів</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Панель статистічних данних користувачів</a>
	  </li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane tab-add active" id="home" role="tabpanel">
	  	<brdo-constructor-panel></brdo-constructor-panel>
	  </div>
	  <div class="tab-pane tab-add" id="profile" role="tabpanel">
	  	<brdo-user-administration></brdo-user-administration>
	  </div>
	  <div class="tab-pane tab-add" id="messages" role="tabpanel">
	  	<brdo-user-statistics></brdo-user-statistics>
	  </div>
	</div>
</div>



