<div id="myCarousel" class="carousel slide" data-ride="carousel">

 <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <p>Ресторан</p>
      <ul class="carousel_list__step">
        <li>Реєстрація ФОП</li>
        <li>Реєстрація за загальною системою</li>
        <li>Реєстрація касового апарата</li>
        <li>Реєстрація еквайрінгу</li>
        <li>Отримання ліцензії на право реалізації тютюнових виробів</li>
        <li>Отримання висновку Державно санітарно-епідеміологічної служби</li>
        <li>Реєстрація відповідності пожежній безпеці</li>
        <li>Отримання дозволу на розміщення зовнішньої реклами</li>
      </ul>
    </div>
  </div>

  <!-- Left and right controls -->

</div>
