

	<my-header></my-header>
	<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Вхід</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<form  (ngSubmit)="onSubmit(f)" #f="ngForm">
					  <div ngModelGroup="userData">
					  <div class="form-group">
					    <label for="email">Email address:</label>
					    <input type="email" 
							    class="form-control" 
							    id="email" 
							    [(ngModel)]="user.email" 
							    name="email" 
							    required 
							    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
								#email="ngModel"/>
					  <div *ngIf="!email.untouched && !email.valid"> 
					  	Як приклад info@brdo.com.ua
					  </div>				
					  </div>
					  <div class="form-group">
					    <label for="pwd">Password:</label>
					    <input type="password" 
							    class="form-control" 
							    id="pwd" 
							    [(ngModel)]="user.password" 
							    name="password"
							    required/>
					  </div>
					  </div>
					  <div class="checkbox">
					    <label><input type="checkbox"> Remember me</label>
					  </div>
					  <button type="submit" class="btn btn-default" [disabled] = "!email.valid" >Submit</button>
					</form>
				</div>
			</div>
		</div>



	<!-- <div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">Вхід</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div>
				<form  (ngSubmit)="onSubmit(f)" #f="ngForm">
					  <div ngModelGroup="userData">
					  <div class="form-group">
					    <label for="email">Email address:</label>
					    <input type="email" 
							    class="form-control" 
							    id="email" 
							    [(ngModel)]="user.email" 
							    name="email" 
							    required 
							    pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
								#email="ngModel"/>
					  <div *ngIf="!email.valid"> 
					  	Як приклад mail@mail.mail
					  						  </div>				
					  </div>
					  <div class="form-group">
					    <label for="pwd">Password:</label>
					    <input type="password" 
							    class="form-control" 
							    id="pwd" 
							    [(ngModel)]="user.password" 
							    name="password"
							    required/>
					  </div>
					  </div>
					  <div class="checkbox">
					    <label><input type="checkbox"> Remember me</label>
					  </div>
					  <button type="submit" class="btn btn-default" [disabled]="!f.valid">Submit</button>
					</form>
					
				</div>
			</div>
		</div>
 -->
