<brdo-header></brdo-header>

<div class="container">
  <div>
    <div class="row main">
      <div>
        <div class="panel-heading">
          <div class="panel-title text-center">
            <h1 class="title">Вхід</h1>
            <hr/>
          </div>
        </div>

        <div class="main-login main-center">
          <div [hidden]="!wrongcredentials" class="alert alert-warning">Невірний логін або пароль!</div>
          <form (ngSubmit)="onSubmit()" #login="ngForm">

            <div class="form-group">
              <label for="email">Введіть логін</label>
              <input type="text"
                     class="form-control"
                     id="email"
                     required
                     [(ngModel)]="model.username"
                     name="email"
                     #name="ngModel"/>
            </div>

            <div class="form-group">
              <label for="pwd">Введіть пароль</label>
              <input type="password"
                     class="form-control"
                     id="pwd"
                     name="password"
                     required
                     [(ngModel)]="model.password"
                     name="password"/>
            </div>

            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
            <button type="submit"
                    class="btn btn-default"
                    (click)="authRequest()"
                    [disabled]="!login.valid">Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
