
<header>
  <!-- <nav>
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['about']">About</a>
  </nav> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2">
          <a [routerLink]="['']" ><img src="/img/logo.png" alt="BRDO"></a>
      </div>
      <div class="col-md-3 col-md-offset-7 nav_button">
        <a class="btn btn-default" href="#"role="button">Log In</a>
        <a class="btn btn-default" [routerLink]="['about']" role="button">Sign In</a>
      </div>
    </div>
    
  </div>
</header>
<main>
 

  <router-outlet></router-outlet>
</main>
<footer>

</footer>
