<div class="container">
	<div class="row first_row">
		<div class="col-md-4 carousel_list">
			<h4>Етапи реалізації бізнесу</h4>
			<p>Ресторан</p>
			<ul class="carousel_list__step">
				<li>Реєстрація ФОП</li>
				<li>Реєстрація за загальною системою</li>
				<li>Реєстрація касового апарата</li>
				<li>Реєстрація еквайрінгу</li>
				<li>Отримання ліцензії на право реалізації тютюнових виробів</li>
				<li>Отримання висновку Державно санітарно-епідеміологічної служби</li>
				<li>Реєстрація відповідності пожежній безпеці</li>
				<li>Отримання дозволу на розміщення зовнішньої реклами</li>
			</ul>
		</div>
	<div class="col-md-8 questionnaire">			
			<h3>Ви бажаєте розпочати бізнес?</h3>
			<p class="title"> Дайте відповіді для персоналізації етапів реєстрації</p>		
			<div>
				<p>Який вид бізнесу цікавить?</p>
				<div class="radio">
				  <label>
				  	<input type="radio" name="optradio">ФОП 
				  	<a href="#" data-toggle="tooltip" title="Привет!">?</a>
				  </label>
				</div>
				<div class="radio">
				  <label>
				  <input type="radio" name="optradio">Юридична особа
					<a href="#" data-toggle="tooltip" title="Привет!">?</a>
				  </label>
				</div>
			</div>
			
			<div>
				<p>Дохід, що Ви плануєте отримувати?</p>
				<div class="radio">
				  <label>
				  	<input type="radio" name="optradio">До 1 000 000 грн. на рік
					<a href="#" data-toggle="tooltip" title="Привет!">?</a>

				  </label>
				</div>
				<div class="radio">
				  <label>
				  	<input type="radio" name="optradio">Від 1 000 000 грн. на рік
					<a href="#" data-toggle="tooltip" title="Привет!">?</a>
				  </label>
				</div>
				<div class="radio">
				  <label>
					  <input type="radio" name="optradio">Від 1 000 000 грн. на рік
					 <a href="#" data-toggle="tooltip" title="Привет!">?</a>
				  </label>
				</div>
			</div>
			<div>
				<p>В межах бізнесу планується?</p>
				<div class="checkbox">
				  <label>
				  	<input type="checkbox" value="">Реалізовувати алкогольні напої
				  	 <a href="#" data-toggle="tooltip" title="Привет!">?</a>
				  	</label>
				</div>
				<div class="checkbox">
				  <label>
				  	<input type="checkbox" value="">Реалізовувати тютюнові вироби
					<a href="#" data-toggle="tooltip" title="Привет!">?</a>
				  </label>
				</div>
			</div>
			<div>
				<p>Для ведення бізнесу Ви маєте у власності/орендіприміщення?</p>
				<div class="radio">
				  <label><input type="radio" name="optradio">ТАК</label>
				</div>
				<div class="radio">
				  <label><input type="radio" name="optradio">НІ</label>
			</div>
			</div>
			<div>
				<p>Персоналізація етапів?</p>
				<div class="form-group">
					<select class="form-control" id="">
					   <option hidden>Місце Вашої реєстрації?</option>
					   <option>1</option>
					   <option>1</option>
					   <option>1</option>
					</select>
				</div>
				<div class="form-group">
					<select class="form-control" id="">
					   <option hidden>Місце Ведення бізнесу?</option>
					   <option>1</option>
					   <option>1</option>
					   <option>1</option>
					</select>
				</div>
			</div>
				<div class="main-button">
					<button type="button" class="btn btn-primary">Зберегти</button>
					<button type="button" class="btn btn-danger">Відміна</button>
					<button type="button" class="btn btn-warning">Відправити на почту</button>
				</div>
				<button type="button" class="btn btn-info btn-block">Сформулювати персональні етапи реєстрації бізнесу
				</button>
			
		</div>
	</div>
		<div class="row second_row">
			<div class="col-md-4 main_steps">
				<ol class="steps">
					<li>Реєстрація ФОП</li>
					<li>Реєстрація за загальною сиситемою оподаткування</li>
					<li>Реєстрація рестораторів розрахункових операцій</li>
					<li>Реєстрація еквайрінгу</li>
					<li>Отримання ліцензії на право роздрібної торгівлі алкогольними напоями</li>
					<li>Отримання висновку Державно санітарно-епідеміологічної служби</li>
					<li>Реєстрація відповідності пожежній безпеці</li>
					<li>Oтримання дозволу на розміщення зовнішньої реклами</li>
				</ol>
			</div>
			<div class="col-md-8">
				  <div class="panel panel-default">
				        <div class="panel-heading">
				          <button type="button" class="btn btn-default btn-block spoiler-trigger" data-toggle="collapse">Куди звернутись</button>
				        </div>
				        <div class="panel-collapse collapse out">
				          <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quos, accusamus. Quidem, molestiae. Ipsam consequatur impedit voluptatem, quod qui perferendis fugiat. Eos adipisci dolorem doloremque quos debitis excepturi ex itaque!</p>
				          </div>
				        </div>
				      </div>
				        <div class="panel panel-default">
				        <div class="panel-heading">
				          <button type="button" class="btn btn-default btn-block spoiler-trigger" data-toggle="collapse">Документи, що потрібні </button>
				        </div>
				        <div class="panel-collapse collapse out">
				          <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quos, accusamus. Quidem, molestiae. Ipsam consequatur impedit voluptatem, quod qui perferendis fugiat. Eos adipisci dolorem doloremque quos debitis excepturi ex itaque!</p>
				          </div>
				        </div>
				      </div>
				        <div class="panel panel-default">
				        <div class="panel-heading">
				          <button type="button" class="btn btn-default btn-block spoiler-trigger" data-toggle="collapse">Скільки коштує обовязковий платіж</button>
				        </div>
				        <div class="panel-collapse collapse out">
				          <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quos, accusamus. Quidem, molestiae. Ipsam consequatur impedit voluptatem, quod qui perferendis fugiat. Eos adipisci dolorem doloremque quos debitis excepturi ex itaque!</p>
				          </div>
				        </div>
				      </div>
				        <div class="panel panel-default">
				        <div class="panel-heading">
				          <button type="button" class="btn btn-default btn-block spoiler-trigger" data-toggle="collapse">Результат</button>
				        </div>
				        <div class="panel-collapse collapse out">
				          <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quos, accusamus. Quidem, molestiae. Ipsam consequatur impedit voluptatem, quod qui perferendis fugiat. Eos adipisci dolorem doloremque quos debitis excepturi ex itaque!</p>
				          </div>
				        </div>
				      </div>
				        <div class="panel panel-default">
				        <div class="panel-heading">
				          <button type="button" class="btn btn-default btn-block spoiler-trigger" data-toggle="collapse">Результат можна отримати</button>
				        </div>
				        <div class="panel-collapse collapse out">
				          <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quos, accusamus. Quidem, molestiae. Ipsam consequatur impedit voluptatem, quod qui perferendis fugiat. Eos adipisci dolorem doloremque quos debitis excepturi ex itaque!</p>
				          </div>
				        </div>
				      </div>
				        <div class="panel panel-default">
				        <div class="panel-heading">
				          <button type="button" class="btn btn-default btn-block spoiler-trigger" data-toggle="collapse">Чому можуть відмовити</button>
				        </div>
				        <div class="panel-collapse collapse out">
				          <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quos, accusamus. Quidem, molestiae. Ipsam consequatur impedit voluptatem, quod qui perferendis fugiat. Eos adipisci dolorem doloremque quos debitis excepturi ex itaque!</p>
				          </div>
				        </div>
				      </div>
				        <div class="panel panel-default">
				        <div class="panel-heading">
				          <button type="button" class="btn btn-default btn-block spoiler-trigger" data-toggle="collapse">Як можна оскаржити відмову</button>
				        </div>
				        <div class="panel-collapse collapse out">
				          <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quos, accusamus. Quidem, molestiae. Ipsam consequatur impedit voluptatem, quod qui perferendis fugiat. Eos adipisci dolorem doloremque quos debitis excepturi ex itaque!</p>
				          </div>
				        </div>
				      </div>
				      <div class="panel panel-default">
				        <div class="panel-heading">
				          <button type="button" class="btn btn-default btn-block spoiler-trigger" data-toggle="collapse">Нормативні акти</button>
				        </div>
				        <div class="panel-collapse collapse out">
				          <div class="panel-body">
				            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ullam cupiditate repellat dolorem maxime suscipit labore officiis, commodi aliquam fugit in inventore, eum velit. Ex officia placeat veritatis repellat hic.</p>
				          </div>
				        </div>
				      </div>
				    <button type="button" class="btn btn-primary">Завершити етап</button>
					<button type="button" class="btn btn-danger">Завершити етап</button>		
				</div>
		</div>
		
	
	