<label for="businesType">Виберіть тип бізнесу</label>
<div class="inner-addon right-addon">
  <i *ngIf="successBusinessType" class="glyphicon glyphicon-ok" style="color:#bfff83"></i>
  <input class="form-control"
         [ngClass]="businessTypeTitleClass"
         placeholder="Назву бізнесу не вибрано" type="text"
         id="businesType"
         readonly
         [(ngModel)]="businessType.title"
         name="businesTypeTitle" #name="ngModel">
</div>
<div class="inner-addon right-addon">
  <i *ngIf="successBusinessType" class="glyphicon glyphicon-ok" style="color:#bfff83"></i>
  <input class="form-control"
         [ngClass]="businessTypeKvedClass"
         placeholder="Номер КВЕД не вибрано"
         id="businesType"
         readonly
         [(ngModel)]="businessType.codeKved"
         name="businesTypeCodeKved" #name="ngModel">
</div>
<div class="clear"></div>
