header {
  background-image:url(./img/baner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 16px;
}

.nav_button{
  margin-top:15px;
}

.lb-sm {
  font-size: 40px;
}

.lb-md {
  font-size: 40px;
}

.lb-lg {
  font-size: 40px;
}
